<html>
    <head>

    </head>
    <body>  
        <form action="" method="POST">
            Name: 
            <input type="text" name="name" id="name"> <br><br>
    
            Username: 
            <input type="text" name="uname" id="uname"> <br><br>

            Date of Birth:
            <input type="data" name="dob" id="dob"> <br><br>

            Email: 
            <input type="email" name="email" id="email"> <br><br>

            Telephone No:
            <input type="text" name="tel" id="tel"> <br><br>

            NIC No:
            <input type="text" name="nic" id="nic" > <br><br>

            Gender:
            <br><input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>
            <br><br>

            Password: 
            <input type="password" name="pass" id="pass"> <br><br>

            Reenter Password:
            <input type="repassword" name="repass" id="repass"> <br><br>
     
            <button type="submit" > Registration </button>
              
        </form>
    </body>
</html>